{% block content %}
<section class="content">
    <section class="container-fluid">
        <section class="row">
            {% if request.user.is_superuser and request.user.is_staff %}
            <section class="col col-lg-4">
                <div class="employee-box sec-box">
                    <a href="">
                        <span>Employees </span>
                    </a>
                    <span class="count-object">{{ employees.count }}</span>
                </div>
            </section>
            <section class="col col-lg-4">
                <div class="leave-box sec-box">
                    <a href="">
                        <span>Leaves</span>
                    </a>
                </div>
            </section>
            {% else %}
            <section class="col col-lg-6">
                <div class="leave-box sec-box">
                    <a href="">
                        <span>Leaves</span>
                    </a>
                    <span>{{ staff_leaves.count }}</span>
                </div>
            </section>
            {% endif %}
        </section>
    </section>
</section>
{% endblock %}