{% block content %}
<section class="content">
    <section class="container-fluid">
        <section class="row">
            <section class="col col-sm-8 offset-sm-2">

                {% if messages %} {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags}}" {% endif %}>
                    {{ message }}
                    <button type="button" class="close" id="override-start" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                         </button>
                </div>
                {% endfor %} {% endif %}

            </section>
        </section>

        <!-- TABLE -->
        <div class="table-responsive table-shadow">
            <div class="text-center table-description">
                <h4 class="title-h3" style="color: #60a0b3 !important;
    						text-shadow: 1px 0px rgba(0,0,0,0.11)">CANCELLED LEAVES</h4>
            </div>

            <section class="total-leaves-count">
                {% if leave_list_cancel %}
                <p>Total cancelled leaves - <span>{{ leave_list_cancel.count }}</span></p>
                {% endif %}
            </section>

            <table class="table">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">User</th>
                        <th scope="col">Type</th>
                        <th scope="col">Day(s)</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for leave in leave_list_cancel %}
                    <tr>

                        <td>{{ leave.user }}</td>
                        <td>{{ leave.leavetype}}</td>
                        <td>{{ leave.leave_days }}</td>
                        <td>{{ leave.status }}</td>

                        <td>
                            <a href="{% url 'dashboard:userleaveview' leave.id %}">
                                <span>view</span>
                            </a>

                            {% if not leave.is_approved %}
                            <a href="{% url 'dashboard:userleaveuncancel' leave.id %}">uncancel</a> {% endif %}

                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>
        <!-- /TABLE -->

    </section>
    <!-- /container -->


</section>
{% endblock %}