{% block content %}
<section class="content">
    <section class="container-fluid">
        <section class="form-wrapper">
            <section class="row">
                <section class="col col-sm-8 offset-sm-2">

                    {% if messages %} {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags}}" {% endif %}>
                        {{ message }}
                        <button type="button" class="close" id="override-start" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                         </button>
                    </div>
                    {% endfor %} {% endif %}

                </section>
            </section>
            <section class="row">
                <section class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h3 class="title-h3">Add User</h3>
                </section>
            </section>

            <section class="row">
                <section class="col-lg-12 col-md-12 col-sm-12">
                    <form action="" method="POST">
                        {% csrf_token %} {{form}}
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </form>
                </section>
            </section>

        </section>

    </section>
    <!-- /container -->
</section>
{% endblock %}

<!-- <script type="text/javascript">
    { % block extrajs %
    }
    /*create-user-button - handler*/ // $(document).ready(function(){ // var createuser = $('.create-user-model'); // createuser.on('click',function(){ // alert("who clicked me ?") // }); // }); { % endblock % }
</script>